Import data. Exmaple is fictional income ranges.
- The first column is the survey selection options, or the ranges / categories from the survey where respondants check only one answer. A survey question where respondants can check multiple answers is not applicable here.
- The second column is the data, or percent of respondents for each category.

In [43]:
import pandas as pd
data = {'Survey Options': ['0--$24,999','$25,000-$49,999','$50,000-$74,999','$75,000-$99,999','$100,000-$124,999',
                  '$125,000-$149,999', '$150,000-$174,999','$175,000-$199,999','$200,000-$249,999','$250,000-$299,999',
                  '$300,000-$349,999','$350,000-$500,000'],
        'Percent of share by category range': [5,6,22,20,18,13,7,5,2,1,1,0]}
df = pd.DataFrame(data=data)
df = df[['Survey Options','Percent of share by category range']]
df

       Survey Options  Percent of share by category range
0          0--$24,999                                   5
1     $25,000-$49,999                                   6
2     $50,000-$74,999                                  22
3     $75,000-$99,999                                  20
4   $100,000-$124,999                                  18
5   $125,000-$149,999                                  13
6   $150,000-$174,999                                   7
7   $175,000-$199,999                                   5
8   $200,000-$249,999                                   2
9   $250,000-$299,999                                   1
10  $300,000-$349,999                                   1
11  $350,000-$500,000                                   0

Next, you must define the lower bound and range size for each category.

In [44]:
lower_bound = [0,25000,50000,75000,100000,125000,150000,175000,200000,250000,300000,350000] 
df['Lower Bound'] = lower_bound
range_size = [25000,25000,25000,25000,25000,25000,25000,25000,50000,50000,50000,50000] 
df['Range Size'] = range_size

In [45]:
df = df[['Survey Options','Lower Bound','Range Size','Percent of share by category range']]
df

,Survey Options,Lower Bound,Range Size,Percent of share by category range
0,"0--$24,999",0,25000,5
1,"$25,000-$49,999",25000,25000,6
2,"$50,000-$74,999",50000,25000,22
3,"$75,000-$99,999",75000,25000,20
4,"$100,000-$124,999",100000,25000,18
5,"$125,000-$149,999",125000,25000,13
6,"$150,000-$174,999",150000,25000,7
7,"$175,000-$199,999",175000,25000,5
8,"$200,000-$249,999",200000,50000,2
9,"$250,000-$299,999",250000,50000,1
10,"$300,000-$349,999",300000,50000,1
11,"$350,000-$500,000",350000,50000,0

In [46]:
df['cumsum'] = df['Percent of share by category range'].cumsum()
df

/home/ariggs/myENV/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Survey Options,Lower Bound,Range Size,Percent of share by category range,cumsum
0,"0--$24,999",0,25000,5,5
1,"$25,000-$49,999",25000,25000,6,11
2,"$50,000-$74,999",50000,25000,22,33
3,"$75,000-$99,999",75000,25000,20,53
4,"$100,000-$124,999",100000,25000,18,71
5,"$125,000-$149,999",125000,25000,13,84
6,"$150,000-$174,999",150000,25000,7,91
7,"$175,000-$199,999",175000,25000,5,96
8,"$200,000-$249,999",200000,50000,2,98
9,"$250,000-$299,999",250000,50000,1,99
10,"$300,000-$349,999",300000,50000,1,100
11,"$350,000-$500,000",350000,50000,0,100

In [47]:
tol = 3 #number of rows that sum to over 50
cond = df.where((df['cumsum']>=50-tol)&(df['cumsum']<=50+tol)).dropna() #returns only one row
cond

,Survey Options,Lower Bound,Range Size,Percent of share by category range,cumsum
3,"$75,000-$99,999",75000.0,25000.0,20.0,53.0

In [48]:
values = cond.reset_index()

In [49]:
values

,index,Survey Options,Lower Bound,Range Size,Percent of share by category range,cumsum
0,3,"$75,000-$99,999",75000.0,25000.0,20.0,53.0

In [50]:
A = values.loc[0,'Percent of share by category range'] #Valid % in median containing category
A

20.0

In [51]:
B = values.loc[0,'cumsum'] #Cumulative % (must exceed 50)
B

53.0

In [52]:
C = values.loc[0,'Lower Bound'] #Lower bound
C

75000.0

In [53]:
D = values.loc[0,'Range Size'] #range size
D

25000.0

In [54]:
app_cum_per = B - 50 #applicable cumulative percent
app_cum_per

3.0

In [55]:
targ_per = A - app_cum_per #target percent in category
targ_per

17.0

In [56]:
median = (targ_per / A) * D + C
median

96250.0

In [57]:
df_med = df.append({'Percent of share by category range' : median },ignore_index=True)

In [58]:
df_med #to add back into dataframe

,Survey Options,Lower Bound,Range Size,Percent of share by category range,cumsum
0,"0--$24,999",0.0,25000.0,5.0,5.0
1,"$25,000-$49,999",25000.0,25000.0,6.0,11.0
2,"$50,000-$74,999",50000.0,25000.0,22.0,33.0
3,"$75,000-$99,999",75000.0,25000.0,20.0,53.0
4,"$100,000-$124,999",100000.0,25000.0,18.0,71.0
5,"$125,000-$149,999",125000.0,25000.0,13.0,84.0
6,"$150,000-$174,999",150000.0,25000.0,7.0,91.0
7,"$175,000-$199,999",175000.0,25000.0,5.0,96.0
8,"$200,000-$249,999",200000.0,50000.0,2.0,98.0
9,"$250,000-$299,999",250000.0,50000.0,1.0,99.0
10,"$300,000-$349,999",300000.0,50000.0,1.0,100.0
11,"$350,000-$500,000",350000.0,50000.0,0.0,100.0
12,NaN,NaN,NaN,96250.0,NaN

### Our median income is $96,250.00